.navv{


	border-radius: 3px;
	/*padding: 0.0005em 1em;*/
	margin-top: -1.2em;
	overflow: hidden;

}
.subjects ul{
	
	list-style: none;
	float: right;
}

.subjects ul li{
	float: right;
	margin-left: 2em;
	font-weight: 400;
}
.subjects ul li a{
	text-align: center;
	border-radius: 5px;
	padding: 0.4em;
	transform: all 0.5s;
	text-decoration: none;
}
.subjects ul li a:hover{
	color: #fff;
	background-color: #3864ba;
	box-shadow: 0 0 2px #000,0 0 6px #fff;
	/*transform: scale3d(1.2);*/

}
#navul{
	display: none;
}
.infocolor{
	margin-top: 0.1em;
	display: inline-block;
	transform:translateY(0.25em); 
	border-radius: 30%;
	width: 1em;
	height: 1em;
}
.mycolor1{
	background-color: #FFC7D2;
}
.mycolor2{
	background-color:#BCFCCB;
}
.mycolor3{
	background-color: #A8E2DB;
}